<div class="html-clearfix">
  <h3>Tá, mas e a camiseta?</h3>
  <p>
    Todas as nossas camisetas são feitas de malha 100% algodão fio 30.1, uma delícia.
    Geladinha, não transparente e bem confortável de usar.
    Só usamos materiais biodegradáveis e aos poucos estamos eliminando todo o plástico da nossa produção.
  </p>
  <p>
    <b>A estampa é feita digitalmente com DTF</b>,
    e você pode lavar tranquilamente que a estampa se mantém bonita, com cores vivas e bem sólida! :)
    Bem legal, né? Fora isso, usamos uma fragrância bem gostosa nas camisetas, você vai adorar.
  </p>
  <p class="my-4">
    <img alt="" class="lozad" data-src="https://lh6.googleusercontent.com/wcX-53tYKMpaS08iJ-gbP1xiyg3spkOcjWTiSiIPT-1FZCGzFij7-lCJA5wbZQ4YLYguXI9bYWvRNH1v8oVbfhjEJBC6hZv9OWwBfua_xU5WQmVExP3rllvdCZFF8Sd4XevxX04-">
  </p>
  <h3>Por que eu deveria comprar com vocês?</h3>
  <p>
    Além de você receber camisetas super legais, estilosas, confortáveis e de qualidade,
    de quebra você vai divulgar a ciência e ainda apoiar uma pequena
    empresa a financiar divulgação científica!
    São vários divulgadores que são ou foram patrocinados pela Doppel, e estamos aumentando os números.
    Pirula, BlaBlaLogia, Nunca Vi 1 Cientista, Um Sábado Qualquer... Conhece algum?
    Bom, pesquisa que eles são incríveis! :D
  </p>
  <h3>Ok, eu quero. Mas, como sei o meu tamanho?</h3>
  <p>
    Essa parte é fácil! Logo acima nesta página você pode consultar nossa tabela de medidas!
    Meça uma camiseta sua que fica boa e compare as medidas,
    sempre lembrando que elas podem variar té 2 cm mais ou pra menos e ainda encolhem até
    5% após as primeiras lavagens.
    Na dúvida, pegue um tamanho maior :) E se o tamanho não ficar bom, a gente troca sem problemas :)
  </p>
</div>
