<div class="html-clearfix">
  <h3>Prazos</h3>
  <p>
    Nós trabalhamos sob demanda para conseguir produzir tudo com um custo acessível para nós
    e sem sobrecarregar nossos colaboradores.
    Por isso, nossos produtos possuem um prazo para serem confeccionados, estampados e postados,
    portanto, o tempo de entrega estabelecido pelos Correios devem ser contados a partir do envio.
    Nosso prazo de produção é de até 5 dias úteis.
    Temos certeza que você vai entender!
    Entre em contato caso possua qualquer dúvida. :)
  </p>
  <hr>
  <h3>Trocas ou Devoluções</h3>
  <p>
    Se por algum motivo você não gostou do produto, mudou de ideia,
    ele está com defeito e deseja trocá-lo, envie um e-mail para
    doppelstore@doppelstore.com.br ou envie uma mensagem por WhatsApp (41 3206-5962) relatando o problema.
    Dessa forma responderemos o mais rápido possível e daremos início ao processo de troca :)
    Verifique abaixo os motivos para trocas e seus respectivos prazos:
  </p>
  <h3>Arrependimento</h3>
  <p>
    No caso de arrependimento, você terá seu dinheiro integral ressarcido,
    e o frete de retorno será por conta da loja.
    Para efetuar essa troca você precisa solicitá-la em até 7 dias corridos após o recebimento do pedido :)
    Após solicitado, a loja agendará uma coleta do pedido e nele deverá conter todos os itens
    que estavam inicialmente no pacote, como brindes e outros adornos.
    Além disso, o produto não poderá estar lavado ou com indícios de uso.
    As condições acima citadas deverão ser cumpridas para que o reembolso ou o estorno da transação seja efetuado.
    Caso seja identificada qualquer divergência ou violação do produto, não aceitaremos a
    devolução e devolveremos o produto ao remetente. :/
    Após o produto retornar e for constatado que tudo está ok, o reembolso será feito pelo
    nosso intermediador de pagamentos, o Yapay.
  </p>
  <h3>Tamanho incorreto</h3>
  <p>
    Na modalidade de <b>tamanho incorreto</b>,
    o frete de retorno da camiseta de tamanho errado fica por conta do <b>comprador</b>,
    enquanto o do envio da correta por conta <b>da loja</b>.
    Caso os tamanhos estejam fora das medidas estabelecidas na tabela de medidas (produto com defeito),
    respeitando as possíveis variações, todos os custos serão pagos pela loja.
  </p>
  <h3>Produto com defeito</h3>
  <p>
    Se o seu produto apresentar defeitos de fabricação em um período de 90 dias,
    você poderá trocá-lo por outro semelhante ou então ter seu dinheiro ressarcido,
    e qualquer custo adicional causado pela troca/devolução será pago pela loja,
    mediante uma análise do produto para constatar que foi defeito de fábrica e não mal uso.
  </p>
  <hr>
  <h3>Estorno</h3>
  <p>
    Em qualquer caso de estorno, o mesmo só será feito após os produtos voltarem para a loja.
  </p>
  <h3>Endereço de envio</h3>
  <p>
    De todas as formas, o produto deverá ser enviado para
    <b>o endereço abaixo, junto com uma mensagem relatando qual o número do pedido qual vai ser a troca :D</b>
  </p>
  <h3>Endereço para envio:</h3>
  <p>Doppel Store</p>
  <p>Rua Evaristo da Veiga, 1476. - Portão da esquerda, 1476A</p>
  <p>Curitiba/PR</p>
  <p>CEP 81670-460 - Bairro Boqueirão</p>
</div>
