<div class="html-clearfix">
  <picture class="img-fluid">
    <source srcset="/img/uploads/qualidadecamisetaregataregatinhadesk.webp"
      media="(min-width: 750px)" type="image/webp">
    <source srcset="/img/uploads/qualidadecamisetaregataregatinhamobile.webp"
      media="(min-width: 100px)" type="image/webp">
    <img src="/img/uploads/qualidadecamisetaregataregatinhamobile.webp"
      loading="lazy" alt="Qualidade e composição" class="img-fluid">
  </picture>
</div>
