<div
  v-if="showSpinner"
  key="loading"
  style="color: var(--primary); display: flex; justify-content: center; padding: 10px;"
>
  <div
    class="spinner-border"
    style="color: var(--primary); display: flex; justify-content: center; padding: 10px;"
    role="status"
  >
  </div>
  <span>Carregando extrato de Doppilas...</span>
</div>
<div
  v-else
  class="account-points"
  key="isLoaded"
>
  <div class="account-points__info rounded mb-3" v-if="points.activeDoppila">
    <h4> Doppilas </h4>
    <span><b>{{ i19available }}</b>: <b>{{ points.activeDoppila }}</b></span>
  </div>

  <ul class="list-group" v-if="validPointsEntries && validPointsEntries.length">
    <li
      v-for="pointsEntry in validPointsEntries"
      class="list-group-item account-points__entry"
    >
      <span class="points__doppilas">
      <b class="rounded" :style="`padding: 7px; ${pointsEntry.type === 'earning' ? 'background-color: var(--success);' : 'background-color: var(--warning);'} color: #fff; margin-top: 5px; margin-bottom: 5px`"> {{ pointsEntry.type === 'earning' ? 'Crédito' : 'Débito' }}  </b> &nbsp; <b>{{ pointsEntry.doppila_amount }}</b>
      </span>
      <a :href="`/app/#/order/${pointsEntry.origin.replace(/.*Pedido (\d+).*/, '$1')}/${pointsEntry.order_id}`">
        <span class="points__origin">Origem: {{ pointsEntry.origin }}</span>
      </a>
      <span class="points__data">Data: {{ pointsEntry.created_at && pointsEntry.created_at.substring(0, 10) }}</span>
    </li>
  </ul>
  <ul class="list-group mt-4" v-if="validPointsEntries && validPointsEntries.length">
     <li
      v-for="futurePointsEntry in futurePointsEntries "
      class="list-group-item account-points__entry"
    >
      <span class="points__doppilas">
      <b class="rounded" style="padding: 7px; background-color:#d771ff ; color: #fff; margin-top: 5px; margin-bottom: 5px"> Entrada Futura  </b> &nbsp; <b>{{ futurePointsEntry.doppila_amount }}</b>
      </span>
      <a :href="`/app/#/order/${futurePointsEntry.origin.replace(/.*Pedido (\d+).*/, '$1')}/${futurePointsEntry.order_id}`">
        <span class="points__origin">Origem: {{ futurePointsEntry.origin }}</span>
      </a>
      <span class="points__data">Data: {{ futurePointsEntry.entry_at && futurePointsEntry.entry_at.substring(0, 10) }}</span>
    </li>
  </ul>
</div>

