<div class="cart">
  <transition-group enter-active-class="animated fadeInDown">
    <div
      class="row"
      v-if="cart.items.length"
      key="list"
    >
      <div class="col-md-7 col-lg-8">
        <div class="cart__list">
          <slot
            name="list"
            v-bind="{ items: cart.items }"
          >
            <transition-group
              enter-active-class="animated fadeInDown"
              leave-active-class="animated fadeOutUp faster position-absolute"
            >
              <cart-item
                v-for="item in cart.items"
                :key="item._id"
                :origin="'cart'"
                :item="item"
                :name-max-length="80"
              />
            </transition-group>
          </slot>
        </div>
        <div class="gift-list-subscription the-cart p-3">
              <h4 style="color: #df507c;font-weight: 600;">Promo Dia das Crianças (11 a 18/10)</h4>
              <p style="font-size: 0.875rem !important">Para ganhar  <span style="color: #9db4cb;font-weight: 600;">o livreto Doppel Para Colorir Ed. 2: Animais Brasileiros</span>, basta colocar 3 camisetas (adultas ou infantis) no carrinho que você que o presente vai aparecer! :D:</p>
        </div>
<!--           <div class="gift-list-subscription the-cart p-3" v-if="monthGift && monthGift.length && !isDigitalOnly">
              <h5><a href="https://links.doppelstore.com.br/492GOrS">Brinde Colecionável</a></h5>
              <p style="font-size: 0.875rem !important">Durante esse mês, assinantes da <span style="color: #9db4cb;font-weight: 600;">Caixa de Schrödinger</span> ainda ganham os seguintes itens na finalização desse pedido. <a style="color: #df507c;font-weight: 600" href="https://links.doppelstore.com.br/492GOrS">Clique aqui para saber mais.</a></p>
              <ul style="font-size: 0.875rem !important">
                <li v-for="gift in monthGift" style="font-size: 0.875rem !important">
                  <div class="gift-block">
                    <span>{{ gift.quantity }}</span> x <span>{{ gift.label }}</span>
                  </div>
                      <img width="40px" height="40px" :src="gift.image_url" @click="openImage(gift.image_url)">
                </li>
              </ul>
            </div> -->
<!--          <div class="gift-list-subscription the-cart p-3">
              <h4 style="color: #df507c;font-weight: 600;">Promo Camisetas Lote Setembro (02 a 09/09)</h4>
              <p style="font-size: 0.875rem !important">Para ganhar  <span style="color: #9db4cb;font-weight: 600;">1 caderno como presente</span>, siga os seguintes passos:</p>
              <ul style="font-size: 0.875rem !important">
                <li style="font-size: 0.875rem !important">
                  <div class="gift-block">
                    <span>1. Insira 3 ou mais camisetas no carrinho.</span> <a style="color: #df507c;font-weight: 600" href="https://www.doppelstore.com.br/camisetas?utm_source=social&utm_medium=carrinho&utm_campaign=dtf">Clique aqui para ver as camisetas.</a>
                  </div>
                </li>
                <li style="font-size: 0.875rem !important">
                  <div class="gift-block">
                    <span>2. Insira também no carrinho 1 caderno A5 de 100 fls. Pode ser qualquer de pauta. <a style="color: #df507c;font-weight: 600" href="https://www.doppelstore.com.br/cadernos?utm_source=social&utm_medium=carrinho&utm_campaign=dtf">Clique aqui para ver os cadernos.</a></span>
                  </div>
                </li>
                <li style="font-size: 0.875rem !important">
                  <div class="gift-block">
                    <span>3. Por fim, use o cupom </span><span style="color: #df507c;font-weight: 600">DTF</span><span> quando for finalizar o pedido.</span>
                  </div>
                </li>
              </ul>
            </div> -->
           <div id="image-gift-modal" class="gift-modal">
              <span class="close-gift-modal">&times;</span>
              <img class="gift-modal-content" id="giftExpandedImage">
              <div id="gift-modal-caption"></div>
            </div>
        <earn-points-progress
          class="my-3"
          :cart-subtotal="cart.subtotal"
        />

        <recommended-items col-class-name="col-6 col-lg-3"/>

        <slot name="back-shopping">
          <div class="cart__back d-none d-md-block my-4">
            <a
              class="cart__btn-back btn btn-link"
              role="button"
              href="/"
            >
              <i class="i-arrow-left mr-1"></i>
              {{ i19continueShopping }}
            </a>
          </div>
        </slot>
      </div>

      <div class="col-md-5 col-lg-4 mt-3 mt-md-0">
        <div class="cart__info">
          <slot name="info">
            <div
              class="cart__summary-row"
              :data-subtotal="cart.subtotal.toFixed(2)"
            >
              <span>Subtotal</span>
              <div>{{ formatMoney(cart.subtotal) }}</div>
            </div>

            <template v-if="isValidCart">
              <transition enter-active-class="animated fadeInDown">
                <div
                  class="cart__summary-row mt-1"
                  v-if="amount.discount"
                  :data-discount="amount.discount.toFixed(2)"
                >
                  <span>
                    <i class="i-tag mr-1"></i>
                    {{ i19discount }}
                  </span>
                  <div>{{ formatMoney(amount.discount) }}</div>
                </div>
              </transition>

              <shipping-calculator
                class="cart__shipping"
                :can-select-services="true"
                :shipped-items="cart.items"
                :zip-code.sync="localZipCode"
                @select-service="selectShippingService"
              />

              <div
                class="cart__summary-row cart__total"
                :data-total="(amount.total || cart.subtotal).toFixed(2)"
              >
                <span>Total</span>
                <a-prices
                  :product="{ price: amount.total || cart.subtotal }"
                  :discount-option="{ value: amount.discount }"
                  :is-literal="true"
                  :is-amount-total="true"
                />
              </div>
            </template>

            <slot name="checkout">
              <a
                v-if="isValidCart"
                class="cart__btn-checkout btn btn-lg btn-block btn-success"
                role="button"
                :href="checkoutUrl"
              >
                <span class="mr-1">
                  <i class="i-shopping-bag"></i>
                </span>
                {{ i19checkout }}
              </a>

              <a
                class="cart__btn-back btn btn-block btn-outline-secondary"
                :class="isValidCart ? 'd-md-none' : 'mt-3'"
                role="button"
                href="/"
              >
                <i class="i-arrow-left mr-1"></i>
                {{ i19continueShopping }}
              </a>
            </slot>
          </slot>
        </div>

        <discount-applier
          v-if="isValidCart && canApplyDiscount"
          class="cart__discount"
          :amount="amount"
          :is-coupon-applied="isCouponApplied"
          :coupon-code.sync="localDiscountCoupon"
          @set-discount-rule="setDiscountRule"
          :modules-payload="modulesPayload"
        />
      </div>
    </div>

    <div
      v-else
      class="cart__empty"
      key="empty"
    >
      <slot name="empty">
        <p class="lead text-muted">
          {{ i19emptyCart }} ...
        </p>
        <a
          class="btn btn-primary"
          href="/"
        >
          <span class="mr-1">
            <i class="i-arrow-left"></i>
          </span>
          {{ i19continueShopping }}
        </a>
      </slot>
    </div>
  </transition-group>
  
</div>
