<div class="cart">
  <transition-group enter-active-class="animated fadeInDown">
    <div
      class="row"
      v-if="cart.items.length"
      key="list"
    >
      <div class="col-md-7 col-lg-8">
        <div class="cart__list">
          <slot
            name="list"
            v-bind="{ items: cart.items }"
          >
            <transition-group
              enter-active-class="animated fadeInDown"
              leave-active-class="animated fadeOutUp faster position-absolute"
            >
              <cart-item
                v-for="item in cart.items"
                :key="item._id"
                :origin="'cart'"
                :item="item"
                :name-max-length="80"
              />
            </transition-group>
          </slot>
        </div>
     <div class="gift-list-subscription the-cart p-3 mb-3">
                <!-- <h4 style="color: #df507c;font-weight: 600;">Promo Progressiva de Vestuário: Como Participar</h4>
              <p style="font-size: 0.875rem !important">
                <span style="color: #9db4cb;font-weight: 600;">Insira no carrinho 5, 8 ou 10 moletons, camisetas adultas ou infantis à sua escolha que o desconto correspondente aparece sozinho na finalização do pedido :D
                <div style="color: #df507c; font-weight: 600">** Caso hajam produtos de preços diferentes no carrinho, o desconto será uma média entre o valor de todos eles. Por exemplo: pegando 4 camisetas adultas e 1 moletom, o desconto será de 1 item que terá como valor a média entre 4 camisetas (R$ 359,60) e 1 moletom (R$ 259,90), que é igual a R$ 123,90.
                </div> 
              </p> -->
                <h4 style="color: #df507c;font-weight: 600;">
                  Promo Volta às Aulas: Como Participar
                </h4>
              <p style="font-size: 0.875rem !important">
                <div style="color: #9db4cb;font-weight: 600;">
                  1. Insira no carrinho quaisquer produtos onde o valor final seja de 200* R$ ou mais.  
                </div>
                <div style="color: #9db4cb;font-weight: 600;">
                  2. <a href="http://doppelstore.com.br/cadernos">Clique aqui</a> e coloque qualquer caderno no carrinho. Se você já tiver R$ 200 em produtos antes de colocar o caderno, o desconto será aplicado automaticamente.
                </div>
                <div style="color: #9db4cb;font-weight: 600;">
                  3. O desconto dado será o de um caderno A5 100 fls de qualquer pauta (R$ 59,90), porém você pode inserir outro que seja mais caro, mas aí precisará pagar a diferença, tudo bem? :D
                </div>
                <div style="color: #df507c;font-weight: 600;">
                  4. Você pode combar quantas vezes quiser essa promo. Um carrinho de R$ 400* te dá direito ao desconto no valor de 2 cadernos A5 100 fls. R$ 600* te dá 3. Basta o carrinho original ter o valor necessário para ativar a promo e você posteriormente inserir os cadernos.
                </div>
                <div style="color: #9db4cb;font-weight: 600;">
                  5. Qualquer dúvida, clica no botão flutuando do WhatsApp e manda uma mesagem! ^^
                </div>
                 <div style="color: #df507c; font-weight: 600">*Importante: O valor para ativar a promo precisa ser em produtos tirando os cadernos que vão ser o brinde. Por exemplo, se você colocar R$ 200 em produtos e dentro desse valor contiver o caderno que vai ser dado como presente, a promo não vai ser ativada. Precisa ser R$ 200 + o caderno.
                 </div>
              </p>
        </div>
           <div id="image-gift-modal" class="gift-modal">
              <span class="close-gift-modal">&times;</span>
              <img class="gift-modal-content" id="giftExpandedImage">
              <div id="gift-modal-caption"></div>
            </div>
        <earn-points-progress
          class="my-3"
          :cart-subtotal="cart.subtotal"
        />

        <recommended-items col-class-name="col-6 col-lg-3"/>

        <slot name="back-shopping">
          <div class="cart__back d-none d-md-block my-4">
            <a
              class="cart__btn-back btn btn-link"
              role="button"
              href="/"
            >
              <i class="i-arrow-left mr-1"></i>
              {{ i19continueShopping }}
            </a>
          </div>
        </slot>
      </div>

      <div class="col-md-5 col-lg-4 mt-3 mt-md-0">
        <div class="cart__info">
          <slot name="info">
            <div
              class="cart__summary-row"
              :data-subtotal="cart.subtotal.toFixed(2)"
            >
              <span>Subtotal</span>
              <div>{{ formatMoney(cart.subtotal) }}</div>
            </div>

            <template v-if="isValidCart">
              <transition enter-active-class="animated fadeInDown">
                <div
                  class="cart__summary-row mt-1"
                  v-if="amount.discount"
                  :data-discount="amount.discount.toFixed(2)"
                >
                  <span>
                    <i class="i-tag mr-1"></i>
                    {{ i19discount }}
                  </span>
                  <div>{{ formatMoney(amount.discount) }}</div>
                </div>
              </transition>

              <shipping-calculator
                class="cart__shipping"
                :can-select-services="true"
                :shipped-items="cart.items"
                :zip-code.sync="localZipCode"
                @select-service="selectShippingService"
              />

              <div
                class="cart__summary-row cart__total"
                :data-total="(amount.total || cart.subtotal).toFixed(2)"
              >
                <span>Total</span>
                <a-prices
                  :product="{ price: amount.total || cart.subtotal }"
                  :discount-option="{ value: amount.discount }"
                  :is-literal="true"
                  :is-amount-total="true"
                />
              </div>
            </template>

            <slot name="checkout">
              <a
                v-if="isValidCart"
                class="cart__btn-checkout btn btn-lg btn-block btn-success"
                role="button"
                :href="checkoutUrl"
              >
                <span class="mr-1">
                  <i class="i-shopping-bag"></i>
                </span>
                {{ i19checkout }}
              </a>

              <a
                class="cart__btn-back btn btn-block btn-outline-secondary"
                :class="isValidCart ? 'd-md-none' : 'mt-3'"
                role="button"
                href="/"
              >
                <i class="i-arrow-left mr-1"></i>
                {{ i19continueShopping }}
              </a>
            </slot>
          </slot>
        </div>

        <discount-applier
          v-if="isValidCart && canApplyDiscount"
          class="cart__discount"
          :amount="amount"
          :is-coupon-applied="isCouponApplied"
          :coupon-code.sync="localDiscountCoupon"
          @set-discount-rule="setDiscountRule"
          :modules-payload="modulesPayload"
        />
      </div>
    </div>

    <div
      v-else
      class="cart__empty"
      key="empty"
    >
      <slot name="empty">
        <p class="lead text-muted">
          {{ i19emptyCart }} ...
        </p>
        <a
          class="btn btn-primary"
          href="/"
        >
          <span class="mr-1">
            <i class="i-arrow-left"></i>
          </span>
          {{ i19continueShopping }}
        </a>
      </slot>
    </div>
  </transition-group>
  
</div>
