<% 
const { quantity, end, isSummary, disableStats } = opt
console.log(quantity)
if (quantity >=0) { 
  function calculateDaysLeft(finalDate) {
    const today = new Date();
    const endDate = new Date(finalDate);
    const differenceMs = endDate.getTime() - today.getTime();
    const daysLeft = Math.ceil(differenceMs / (1000 * 60 * 60 * 24));
    return daysLeft;
  }
  let daysLeft, splitData
  if (end) {
    daysLeft = calculateDaysLeft(end)
    splitData = end.split('-')
  }
  
  %>
  <div class="sc-49b423c2-2 jCEwOp">
    <% if (!disableStats) { %>
      <div><span color="white" class="sc-de075f52-0 diRWUO">
        <%= quantity %>
      </span><span color="white" class="sc-de075f52-1 bdEowS">Apoiadores</span></div>
      
    <% } 
    if (!disableStats && daysLeft) { %>
      <div class="sc-49b423c2-3 jFWOvG"></div>
    <% } %>
    
    <% if (daysLeft >= 0 && isSummary) { %>
      <span color="white" class="sc-de075f52-0 diRWUO">
        <strong><%=  daysLeft %></strong> dias restantes
      </span>
    <% } else if (end) { 
      %>
      <span color="white" class="sc-de075f52-0 diRWUO entrega">
        <span>Entrega Prevista:</span><br>
        <span><%= splitData[1] %>/<%= splitData[0] %></span>
      </span>
    <% } %> 
</div>
<% } %>

