@import 'custom-css/variables';

$info: #0ea5e9;
$success: #10b981;
$warning: #f59e0b;
$danger: #f43f5e;
$white: #fff;
$black: #000;
$light: #686869;

$text-muted: $custom-gray-500;
$border-color: $custom-gray-600;

$list-group-color: $white;
$list-group-bg: $custom-gray-900;
$list-group-border-color: $custom-gray-700;

$breadcrumb-divider-color: $custom-gray-500;
$breadcrumb-active-color: $white;
$breadcrumb-divider: quote(".");

$input-bg: $black;
$input-color: $white;
$custom-select-bg: $black;
$custom-select-disabled-bg: $custom-gray-600;
$component-active-bg: $white;
$modal-content-bg: $custom-gray-800;
$card-bg: $custom-gray-700;

$font-family-sans-serif: 'Encode Sans Variable', sans-serif;

$body-bg: $custom-gray-900;
$body-color: $custom-gray-100;
