$gray-100: #f1f5f9;
$gray-200: #e2e8f0;
$gray-300: #d2d7de;
$gray-400: #b1b5bb;
$gray-500: #898c90;
$gray-600: #6d7177;
$gray-700: #555a60;
$gray-800: #3d4247;
$gray-900: #24282d;


$container-width: 1110px;

:root {
    --gray-100: #{$gray-100};
    --gray-200: #{$gray-200};
    --gray-300: #{$gray-300};
    --gray-400: #{$gray-400};
    --gray-500: #{$gray-500};
    --gray-600: #{$gray-600};
    --gray-700: #{$gray-700};
    --gray-800: #{$gray-800};
    --gray-900: #{$gray-900};

    --container-width: #{$container-width};
}
